.post-card-item .ant-card-meta-detail {
  max-height: 130px;
  height: 130px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
